.benefits-section{
	width: 100%;
	height: 37.4vw;
}

@media screen and (max-width: 1200px) {
	.benefits-section{
		height: 57.4vw;
	}
}


.benefits-section-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.benefits-section__title{
	margin-top: 4.6%;
	z-index: 3;
}

.benefits-section__caption{
	margin-top: 3%;
	z-index: 3;
}

@media screen and (max-device-width: 1200px) {
	.benefits-section__caption{
		display: none;
	}
}

.benefits-section__main-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	position: relative;
}

.benefits-list{
	font-size: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.benefits-list{
		font-size: 23px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.benefits-list{
		font-size: 15px;
	}
}

@media screen and (min-device-width: 1100px) and (max-device-width: 1200px) {
	.benefits-list{
		font-size: 22px;
	}
}

@media screen and (max-device-width: 1100px) {
	.benefits-list{
		font-size: 30px;
	}

	.benefits-section .benefits-section-inner-container {
		margin: 0;
		padding: 0 32px;
	}
}

.switch-panel-button:first-of-type {
	margin-top: 10px;
}

.switch-panel-button{
	color: #a1a1a1;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	margin-top: 11%;
	font-family: Lato-Light, sans-serif;
	display: inline-block;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

@media screen and (max-width: 1200px) {
	.switch-panel-button{
		margin-top: 5%;
	}

	.switch-panel-button:first-of-type {
		margin-top: 20px;
	}
}

.switch-panel-button:hover{
	cursor: pointer;
	border-bottom: 2px solid orange;

}

.input-open,
.input-button-part{
	display: none;
}


.input-open:checked + .switch-panel-button,
.input-button-part:checked + .button-open{
	border-bottom: 2px solid #f7d290;
	color: black;
}

.ringsSecondBlock{
	position: absolute;
	left: 34%;
	top: 29%;
	z-index: 4;
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
	.ringsSecondBlock{
		width: 14%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
	.ringsSecondBlock{
		width: 14%;
		top: 19%;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.ringsSecondBlock{
		width: 14%;
		top: 30%;
	}
}

@media screen and (max-width: 1200px) {
	.ringsSecondBlock{
		display: none;
	}
}

.briliantsSecondBlock{
	position: absolute;
	bottom: -27%;
	right: -18%;
	z-index: 4;
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
	.briliantsSecondBlock{
		bottom: -14%;
		width: 25%;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
	.briliantsSecondBlock{
		bottom: 2%;
		width: 25%;
	}
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
	.briliantsSecondBlock{
		bottom: -38%;
		width: 25%;
		right: -15%;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
	.briliantsSecondBlock{
		bottom: -27%;
		width: 25%;
		right: -15%;
	}
}

@media screen and (max-width: 1200px) {
	.briliantsSecondBlock{
		bottom: -32%;
		width: 20%;
		right: -6%;
	}
}

.secondSection_rhombus{
	position: absolute;
	right: 0;
	top: -18%;
	z-index: 2;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border: 2px solid #ecba55;
	border-radius: 6px;
	text-align: center;
	background-color: transparent;
}

@media screen and (max-device-width: 1200px) {
	.secondSection_rhombus{
		width: 48vw;
		height: 48vw;
		right: -2%;
		top: -13%;
	}
}

.second-section_rhombus-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.second-section_title-line{
	width: 15%;
	height: 2px;
	background: #ecba55;
}

.second-section_info-title{
	font-size: 30px;
	margin-bottom: 12%;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

@media screen and (max-width: 1200px) {
	.second-section_info-title{
		display: none;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.second-section_info-title{
		font-size: 25px;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 1200px) {
	.second-section_info-title{
		font-size: 29px;
		margin-bottom: 5%;
	}
}

.second-section_info-paragraph {
	display: table-footer-group; //for IE11
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: 1px;
	font-family: 'Lato-Light', sans-serif;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.second-section_info-paragraph{
		font-size: 14px;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
	.second-section_info-paragraph{
		font-size: 13px;
	}
}

@media screen and (max-width: 1100px) {
	.second-section_info-paragraph{
		font-size: 25px;
	}

	.benefits-section .secondSection_rhombus {
	}
}
