.benefits-section{
	width: 100%;
	height: 37.4vw;
}

.benefits-section-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.KOSTYL-1{
	top: -8%;
	position: absolute;
	width: 80%;
	z-index: 2;
	left: 26%;
}

.benefits-section__title{
	margin-top: 4.6%;
	z-index: 3;
}

.benefits-section__caption{
	margin-top: 3%;
	z-index: 3;
}

.benefits-section__main-info{
	display: flex;
	width: 100%;
}

.benefits-list{
	font-size: 25px;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.benefits-list{
		font-size: 20px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.benefits-list{
		font-size: 15px;
	}
}

.benefits-list__point {
	margin-top: 11%;
}

.benefits-list__point:nth-child(1) {
	margin-top: 0;
}