.bid-section {
    display: flex;
    justify-content: center;
    color: #111111;
    background-position: center;
    background: url(../images/bidSectionDiamondBackground.png) no-repeat;
}

.bid-section__inner-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.bid-section__image-container {
    position: absolute;
    top: 32%;
    left: 0;
}

.bid-section__rhombus-container {
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.bid-section__rhombus-content {
    display: flex;
    flex-direction: column;
    transform: rotate(45deg);
    align-items: center;
}

.bid-section__rhombus-content-text {
    text-align: center;
    line-height: 1.3;
    padding: 40px 0 60px 0;
}

.bid-section__rhombus-image {
    position: absolute;
    transform: rotate(45deg);
    z-index: 1;
    left: -112px;
    top: -173px;
}
