.create-section {
    display: flex;
    justify-content: center;
    color: #111111;
}

.create-section__inner-container {
    display: flex;
    width: 100%;
    padding-top: 60px;
}

.create-section__info {
    padding: 30px 0;
}

.create-section__main-image-container {
    position: relative;
    top: -200px;
    width: 50%;
}

.create-section__main-image {
    width: 47vw;
    height: 46vw;
}

.create-section__info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.create-section__image-container {
    position: absolute;
    left: 35%;
    top: 10%;
}

.create-section__image {
}


.create-section__slider {

}

.create-section__slider-header {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ecba55;
    font-size: 50px;
    padding: 60px 0;
}

.create-section__slide {
    margin-right: 21vw;
    display: flex;
    flex-direction: column;
}

.create-section__slide-header {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 10px 0;
}

.create-section__slide-text {
    text-indent: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
}

.create-section__slider-controllers {
    display: flex;
    align-items: center;
    padding: 80px 0;
}

.create-section__slider-label {
    display: flex;
    font-family: 'PFRegalDisplayPro-Regular';
    padding: 20px 40px;
    font-size: 40px;
    color: #a1a1a1;
}

.create-section__slider-label-number {

}

.create-section__slider-label-number--right {
    position: relative;
    top: 10px;
    right: 5px
}

.create-section__slider-label-number--left{
    position: relative;
    bottom: 10px;
    left: 5px;
}

.create-section__slider-label-separator {
    display: inline-block;
    transform: rotate(25deg);
}


.create-section__slider-controller {
    width: 26px;
    height: 37px;
    background: url(../images/arrow-right.png) no-repeat;
}

.create-section__slider-controller--disabled {
    opacity: 0.3;
}

.create-section__slider-controller--right {
    transform: rotate(2deg);
}

.create-section__slider-controller--left {
    transform: rotate(180deg);
}



