.create-section {
    display: flex;
    justify-content: center;
    color: #111111;
}

.create-section__inner-container {
    display: flex;
    width: 100%;
    padding-top: 60px;
}

.create-section__info {
    padding: 30px 0;
}

.create-section__main-image-container {
    position: relative;
    top: -200px;
    width: 50%;
}

.create-section__main-image {
    width: 47vw;
    height: 46vw;
}

.create-section__info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.create-section__image-container {
    position: absolute;
    left: 35%;
    top: 10%;
}

.create-section__image {
}


.create-section__slider {
    width: 60%;
}

.create-section__slider-header {
    font-family: 'Lato-Light', sans-serif;
    color: #ecba55;
    font-size: 50px;
    padding: 60px 0;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .create-section__slider-header{
        font-size: 44px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slider-header{
        font-size: 33px;
    }
}

.create-section__slide {
    display: flex !important;
    padding: 5px;
    flex-direction: column;
}

.create-section__slide-header {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 25px;
    padding: 10px 0;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .create-section__slide-header{
        font-size: 22px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slide-header{
        font-size: 18px;
    }
}

.create-section__slide-text {
    text-indent: 20px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .create-section__slide-text{
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slide-text{
        font-size: 14px;
    }
}

.create-section__slider-controllers {
    display: flex;
    align-items: center;
    padding: 80px 0;
}

.create-section__slider-label {
    display: flex;
    font-family: 'PFRegalDisplayPro-Regular';
    padding: 20px 40px;
    font-size: 40px;
    color: #a1a1a1;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .create-section__slider-label{
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slider-label{
        font-size: 30px;
    }
}

.create-section__slider-label-number {

}

.create-section__slider-label-number--right {
    position: relative;
    top: 10px;
    right: 5px
}

.create-section__slider-label-number--left{
    position: relative;
    bottom: 10px;
    left: 5px;
}

.create-section__slider-label-separator {
    display: inline-block;
    transform: rotate(25deg);
}


.create-section__slider-controller {
    width: 20px;
    height: 35px;
    background: url(../images/arrow-right.png) no-repeat;
}

.create-section__slider-controller:hover{
    cursor: pointer;
}

.create-section__slider-controller--disabled {
    opacity: 0.3;
}

.create-section__slider-controller--right {
}

.create-section__slider-controller--left {
    transform: rotate(180deg);
}



.create-section .slick-next::before, .slick-prev:before {
    content: "";
}

.create-section .slick-next {
    display: none;
}

.create-section .slick-prev {
    display: none;
}

.create-section .slick-slide:focus {
    outline: none;
}



