.faq-section {
    display: flex;
    justify-content: center;
}

.faq-section__info {
    padding: 20px 0;
}

.faq-section__inner-container {
    display: flex;
    flex-direction: column;
    padding-top: 165px;
    position: relative;
}

.faq-section__list {
    padding: 10px 0;

}


.faq-section__list-header {
    font-size: 40px;
    color: #ecba55;
    font-family: 'Lato-Bold', sans-serif;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .faq-section__list-header{
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .faq-section__list-header{
        font-size: 30px;
    }
}

.faq-section__list-elements-container {
    display: flex;
}

.faq-section__list-element {
    width: 30%;
    text-indent: 20px;
    margin: 20px 30px 20px 0;
    display: flex;
    flex-direction: column;
}

.faq-section__element-header {
    text-indent: 20px;
    font-family: 'Lato-Bold', sans-serif;
    font-size: 25px;
    padding: 10px 0;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .faq-section__element-header{
        font-size: 21px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .faq-section__element-header{
        font-size: 18px;
    }
}

.faq-section__element-text {
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .faq-section__element-text{
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .faq-section__element-text{
        font-size: 14px;
    }
}

.faq-section__image {
    width: 18vw;
    height: 14vw;
}

@media screen and (max-device-width: 1200px) {
    .faq-section__inner-container {
        padding-top: 130px;
    }
    .faq-section .faq-section__title {
        text-align: center;
    }

    .faq-section .faq-section__info {
        text-align: center;
    }

    .faq-section__element-header {
        font-size: 19px;
    }

    .faq-section__list-header {
        font-size: 35px;
    }
}

