.header{
	width: 100%;
	background: url(../images/headerBackground.png) 100% 100% no-repeat;
	height: 37vw;
	background-size: cover; 
}

.header-container__contacts-container{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}


.logo{
	width: 18%;
	background: url(../images/ringsLogo.png) 100% 100% no-repeat;
	background-size: contain;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.logo{
		width: 22%;
	}
}

.header-container__contacts-item{
	display: flex;
	align-items: center;
	font-family: 'Lato-Light', sans-serif;
	letter-spacing: 1px;
}

.header-container__contacts-geolocation-text{
	margin-left: 10px;
	font-size: 18px;
	color: white;
	font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.header-container__contacts-geolocation-text{
		font-size: 14px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.header-container__contacts-geolocation-text{
		font-size: 11px;
	}
}

.header-container__contacts-phone-text{
	margin-left: 10px;
	color: white;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.header-container__contacts-phone-text{
		font-size: 16px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.header-container__contacts-phone-text{
		font-size: 14px;
	}
}

.header-container__title{
	color: #ffffff;
	font-size: 50px;
	width: 65%;
	margin-top: 11.5%;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.header-container__title{
		font-size: 44px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.header-container__title{
		font-size: 31px;
	}
}

.header-container__caption{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: 5.5%;
	font-family: 'Lato', sans-serif;
}

.header-container__caption_unic{
	color: #ecba55;
}

.header-container__button{
	margin-top: 5.5%;
}
