.header{
	width: 100%;
	background: url(../images/headerBackground.png) 100% 100% no-repeat;
	height: 37vw;
	background-size: cover;
}

.header-helper-container{
	width: 100%;
	height: 37vw;
	background: rgba(0,0,0,0);
}

@media screen and (max-device-width: 1200px) {
	.header-helper-container{
		background: rgba(0,0,0,0.6);
	}
}

.header-container__contacts-container{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

@media screen and (max-device-width: 1200px) {
	.header-container__contacts-container{
		height: 5vw;
		justify-content: center;
		width: 100%;
	}
}

@media screen and (max-device-width: 1200px) {
	.header-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}


.logo{
	width: 18%;
	background: url(../images/ringsLogo.png) 100% 100% no-repeat;
	background-size: contain;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.logo{
		width: 22%;
	}
}

@media screen and (max-device-width: 1200px) {
	.logo{
		width: 34%;
	}
}

.header-container__contacts-item{
	display: flex;
	align-items: center;
	font-family: 'Lato-Light', sans-serif;
	letter-spacing: 1px;
}

@media screen and (max-device-width: 1200px) {
	.header-container__contacts-item{
		display: none;
	}
}

.header-container__contacts-geolocation-text{
	margin-left: 10px;
	font-size: 18px;
	color: white;
	font-family: 'Lato-Light', sans-serif;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.header-container__contacts-geolocation-text{
		font-size: 14px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.header-container__contacts-geolocation-text{
		font-size: 11px;
	}
}

.header-container__contacts-phone-text{
	margin-left: 10px;
	color: white;
	font-size: 20px;
	font-family: 'Lato-Light', sans-serif;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.header-container__contacts-phone-text{
		font-size: 16px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.header-container__contacts-phone-text{
		font-size: 14px;
	}
}

.header-container__title{
	color: #ffffff;
	font-size: 50px;
	width: 66%;
	margin-top: 11.5%;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
	.header-container__title{
		font-size: 44px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
	.header-container__title{
		font-size: 31px;
	}
}

@media screen and (max-device-width: 1200px) {
	.header-container__title{
		font-size: 27px;
		width: 100%;
		margin-top: 3%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.header-container__caption{
	font-size: 25px;
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: 5.5%;
	font-family: 'Lato-Light', sans-serif;
}

@media screen and (max-device-width: 1200px) {
	.header-container__caption{
		font-weight: 700;
	}
}

.header-container__caption_unic{
	color: #ecba55;
}

.header-container__button{
	margin-top: 5.5%;
}

@media screen and (max-device-width: 1200px) {
	.header-container__button{
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
