@import 'saleSection.css';
@import 'contactSection.css';
@import 'headerStyle.css';

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato-light.ttf);
}

@font-face {
    font-family: SnellRoundhand-Bold;
    src: url(../fonts/SnellRoundhand-Bold.ttf);
}

@font-face {
    font-family: "PFRegalDisplayPro-Bold";
    src: url("../fonts/PFRegalDisplayPro-Bold.ttf");
}

@font-face {
    font-family: PFRegalDisplayPro-Regular;
    src: url(../fonts/PFRegalDisplayPro-Regular.ttf);
}


.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.inner-container {
    width: 61%;
    margin: 0 auto;
    height: 100%;
}

.button {
    width: max-content;
    padding: 35px 80px;
    border-radius: 100px;
    font-size: 20px;
    color: #353535;
    text-transform: uppercase;
    background-color: #ecba55;
    font-family: Lato-Light;
}

h2 {
    font-family: "SnellRoundhand-Bold";
    font-size: 40px;
}

h3 {
    font-size: 25px;
    font-family: Lato-Light;
}