.sale-section {
    display: flex;
    justify-content: flex-end;
    background: url(../images/saleSectionBackground.png) no-repeat;
    color: #ffffff;
    position: relative;
    background-size: cover;
    height: 36vw;
}


.sale-section__inner-container {
    padding: 50px 0;
    margin-right: 18vw;
}

.sale-section__info {
    padding: 46px 0;
    text-align: center;
}

.sale-section__lines-container {
    display: flex;
    height: 150%;
    transform: rotate(45deg);
    width: max-content;
    position: absolute;
    bottom: 0
}

.sale-section__button-container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .sale-section {
        height: auto;
    }
    .sale-section__inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgba(0,0,0, 0.7) ;
        margin-right: 0;
    }
}