.sale-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: url(../images/saleSectionBackground.png) no-repeat;
    color: #ffffff;
    position: relative;
    background-size: cover;
    height: 36vw;
}


.sale-section__inner-container {
    padding: 50px 0;
    margin-right: 18vw;
}

.sale-section__info {
    padding: 46px 0;
    text-align: center;
}

.sale-section__lines-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    bottom: 0
}

.sale-section__button-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-device-width: 1200px) {
    .sale-section {
        height: auto;
    }
    .sale-section__inner-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        background-color: rgba(0,0,0, 0.7) ;
        margin-right: 0;
    }

    .sale-section .sale-section__button {
        padding: 30px 35px;
    }
}
