.types-section {
    width: 100%;
}

.types-section__inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .types-section__inner-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .types-section__title-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}



.types-section__left-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 50%;
}

@media screen and (max-width: 1200px) {
    .types-section__left-container{
        width: 90%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.types-section__slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 150px 100px;
    width: 50%;
}

.types-section__text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.types-section__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-device-width: 1200px) {
    .types-section__buttons{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.types-section .types-section__button {
    padding: 20px 40px;
    margin: 10px;
}

.types-section__name-container {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 20px 0;
    border-bottom: 2px solid #ecba55;
}

.types-section__name-label {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 35px;
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .types-section__name-label{
        font-size: 32px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .types-section__name-label{
        font-size: 29px;
    }
}

@media screen and (max-width: 1200px) {
    .types-section__name-label{
        font-size: 50px;
    }
}

.types-section__type-description {
    padding: 20px 0;
    font-family: 'Lato-Light', sans-serif;
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 18px;
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .types-section__type-description {
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .types-section__type-description {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .types-section__type-description{
        font-size: 30px;
        text-align: justify;
    }
}


.types-section__title {
    padding: 20px 0;
}

.types-section__caption-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.types-section__type-title {
    font-size: 25px;
    padding: 10px 20px;
    font-family: 'Lato-Bold', sans-serif;
    color: #a1a1a1;
    cursor: pointer;
}

.types-section__type-title--active {
    color: black;
    cursor: auto;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .types-section__type-title {
        font-size: 23px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .types-section__type-title {
        font-size: 21px;
    }
}

@media screen and (max-width: 1200px) {
    .types-section__type-title{
        font-size: 40px;
        padding: 40px 20px;
    }
}

.types-section__rhombus {
    width: 24vw;
    height: 24vw;
}

@media screen and (max-width: 1200px) {
    .types-section__rhombus{
        width: 50vw;
        height: 50vw;
    }
}

.types-section__rhombus-container {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    left: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
}

.types-section__rhombus-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 29vw;
    height: 29vw;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.types-section__slider-slide {
    width: 200px;
    height: 200px;
}

.types-section .types-section__slider-slide-image {
    width: 15vw;
    height: 15vw;
    margin: auto;;
}



.types-section__caption-block {
    margin: 20px 0;
}

.types_info-block{
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-top: 6%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .types_info-block{
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .types_info-block{
        font-size: 13px;
    }
}


.types_types__type-title {
    font-size: 25px;
    font-family: 'Lato-Bold', sans-serif;
    color: #a1a1a1;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .types_types__type-title {
        font-size: 23px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .types_types__type-title {
        font-size: 21px;
    }
}

.types_info-text{
    font-family: 'Lato-Light', sans-serif;
    line-height: 1.4;
    width: 41%;
    margin-top: 3%;
    text-align: justify;
}

.types-slide {
    padding: 50px;
    width: 270px;
    margin: 20px;
}

.types__types-slide{
    width: 100%;
}

.types-slide-image {
    width: 100%;
    height: 100%;
}

.types_types__caption-block{
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 36%;
    font-size: 20px;
}

.types__types-section{
    position: relative;
}

.rings-types-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.types-section_block-text{
    width: 40%;
}

.types-section_block-img{
    position: absolute;
    top: -21%;
    right: 43%;
    width: 6%;
}

.types-section .slick-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.types-section .slick-next::before, .slick-prev:before {
    content: "";
}

.types-section .slick-next {
    background: url("../images/arrow-right.png") no-repeat;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: static;
}

.types-section .slick-prev {
    background: url("../images/arrow-right.png") no-repeat;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: static;
}

.types-section .slick-arrow {
    width: 20px;
    height: 35px;
}

.types-section .slick-disabled {
    cursor: auto;
    opacity: 0.3;
}

.types-section .slick-slide:focus {
    outline: none;
}

.types-section .slick-next {
    position: relative;
    right: auto;
    bottom: -80px;
    top: auto;
}

.types-section .slick-prev {
    top: -80px;
    position: relative;
    left: auto;
}


@media screen and (max-width: 1200px) {
    .types-section .types-section__slider-slide-image {
        width: 30vw;
        height: 30vw;
    }

    .types-section__rhombus-content {
        width: auto;
        height: auto;
    }

    .types-section .slick-next {
        -webkit-transform: scale(2) rotate(90deg);
        -ms-transform: scale(2) rotate(90deg);
        transform: scale(2) rotate(90deg);
    }

    .types-section .slick-prev {
        -webkit-transform: scale(2) rotate(-90deg);
        -ms-transform: scale(2) rotate(-90deg);
        transform: scale(2) rotate(-90deg);
    }
}
