.create-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #111111;
}

.create-section__inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 60px;
}

.create-section__info {
    padding: 30px 0;
}

.create-section__main-image-container {
    position: relative;
    top: -150px;
    width: 50%;
}

.create-section__main-image {
    width: 47vw;
    height: 46vw;
}

.create-section__info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.create-section__image-container {
    position: absolute;
    left: 35%;
    top: 10%;
}

.create-section__image {
}


.create-section__slider {
    width: 60%;
}

.create-section__slider-header {
    font-family: 'Lato-Light', sans-serif;
    color: #ecba55;
    font-size: 50px;
    padding: 60px 0;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .create-section__slider-header{
        font-size: 44px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slider-header{
        font-size: 33px;
    }
}

.create-section__slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.create-section__slide-header {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 25px;
    padding: 10px 0;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .create-section__slide-header{
        font-size: 22px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slide-header{
        font-size: 18px;
    }
}

.create-section__slide-text {
    text-indent: 20px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}



@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slide-text{
        font-size: 14px;
    }
}

.create-section__slider-controllers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
}

.create-section__slider-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'PFRegalDisplayPro-Regular';
    padding: 20px 40px;
    font-size: 40px;
    color: #a1a1a1;
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .create-section__slider-label{
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .create-section__slider-label{
        font-size: 30px;
    }
}

.create-section__slider-label-number {

}

.create-section__slider-label-number--right {
    position: relative;
    top: 10px;
    right: 5px
}

.create-section__slider-label-number--left{
    position: relative;
    bottom: 10px;
    left: 5px;
}

.create-section__slider-label-separator {
    display: inline-block;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
}


.create-section__slider-controller {
    width: 20px;
    height: 35px;
    background: url(../images/arrow-right.png) no-repeat;
}

.create-section__slider-controller:hover{
    cursor: pointer;
}

.create-section__slider-controller--disabled {
    opacity: 0.3;
}

.create-section__slider-controller--right {
}

.create-section__slider-controller--left {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}



.create-section .slick-next::before, .slick-prev:before {
    content: "";
}

.create-section .slick-next {
    display: none;
}

.create-section .slick-prev {
    display: none;
}

.create-section .slick-slide:focus {
    outline: none;
}

@media screen and (max-device-width: 1200px) {
    .create-section {
    }
    .create-section__inner-container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .create-section__slide-header{
        font-size: 32px;
        text-align: center;
    }

    .create-section__slide-text {
        font-size: 29px;
        text-align: center;
    }

    .create-section__slider-label {
        font-size: 65px;
    }

    .create-section__main-image-container {
        top: -24%;
        width: 30%;
        left: 0;
    }

    .create-section__info-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 70%;
    }

    .create-section__slider-controller--right {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }

    .create-section__slider-controller--left {
        -webkit-transform: scale(1.5) rotate(180deg);
        -ms-transform: scale(1.5) rotate(180deg);
        transform: scale(1.5) rotate(180deg);
    }


    .create-section__main-image {
        width: 47vw;
        height: 47vw;
    }

    .create-section__slider {
        width: 80%;
    }

    .create-section__image-container {
        display: none;
    }

    .create-section__slider-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 80%;
    }

    .create-section__slider-header {
        padding: 10px;
    }

    .create-section__slider-controllers {
        padding: 10px 0;
    }


}

/*@media screen and (max-device-width: 860px) {*/
/*.create-section__main-image-container {*/
/*width: 20%;*/
/*position: absolute;*/
/*left: 0;*/
/*}*/

/*.create-section__info-container {*/
/*align-items: center;*/
/*width: 90%;*/
/*}*/

/*.create-section__main-image-container {*/
/*top: 13%;*/
/*}*/

/*.create-section__main-image {*/
/*width: 34vw;*/
/*height: 34vw;*/
/*}*/

/*.create-section__slider {*/
/*width: 80%;*/
/*}*/

/*.create-section__slider-controllers {*/
/*padding: 10px 0;*/
/*}*/
/*}*/

/*@media screen and (max-device-width: 650px) {*/
/*.create-section__main-image-container {*/
/*top: 22%;*/
/*}*/

/*.create-section__slider-container {*/
/*width: 90%;*/
/*}*/

/*.create-section__slide-header {*/
/*text-align: center;*/
/*}*/


/*.create-section__slide-text {*/
/*text-align: center;*/
/*}*/

/*}*/
/*@media screen and (max-device-width: 400px) {*/
/*.create-section__slider-container {*/
/*width: 100%;*/
/*}*/
/*}*/




